In [123]:
import pandas as pd

In [125]:
df = pd.read_csv(r"C:\Users\latai\Downloads\nba - nba.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [127]:
df['first_name'] = df['Name'].str.split().str[0]
df['last_name'] = df['Name'].str.split().str[1]
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,first_name,last_name
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0,Avery,Bradley
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0,Jae,Crowder
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN,John,Holland
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0,R.J.,Hunter
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0,Jonas,Jerebko
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0,Trey,Lyles
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0,Shelvin,Mack
454,Raul Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0,Raul,Neto
455,Tibor Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0,Tibor,Pleiss
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0,Jeff,Withey

In [129]:
df = df[['Name', 'first_name', 'last_name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College', 'Salary']]

In [131]:
df

,Name,first_name,last_name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Avery,Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Jae,Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,John,Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,R.J.,Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Jonas,Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Trey,Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin Mack,Shelvin,Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0
454,Raul Neto,Raul,Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0
455,Tibor Pleiss,Tibor,Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0
456,Jeff Withey,Jeff,Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [133]:
df = df.drop(columns = 'Name')

In [135]:
df

,first_name,last_name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery,Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae,Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John,Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J.,Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas,Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
452,Trey,Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0
453,Shelvin,Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0
454,Raul,Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0
455,Tibor,Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0
456,Jeff,Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [137]:
df['Lower_first_name'] = df['first_name'].str.lower()
df

,first_name,last_name,Team,Number,Position,Age,Height,Weight,College,Salary,Lower_first_name
0,Avery,Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0,avery
1,Jae,Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0,jae
2,John,Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN,john
3,R.J.,Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0,r.j.
4,Jonas,Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0,jonas
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey,Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0,trey
453,Shelvin,Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0,shelvin
454,Raul,Neto,Utah Jazz,25,PG,24,6-1,179,NaN,900000.0,raul
455,Tibor,Pleiss,Utah Jazz,21,C,26,7-3,256,NaN,2900000.0,tibor
456,Jeff,Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0,jeff

In [139]:
df['Lower_first_name'].str.contains('jae')

0      False
1       True
2      False
3      False
4      False
       ...
452    False
453    False
454    False
455    False
456    False
Name: Lower_first_name, Length: 457, dtype: bool

In [141]:
df.dtypes

first_name           object
last_name            object
Team                 object
Number                int64
Position             object
Age                   int64
Height               object
Weight                int64
College              object
Salary              float64
Lower_first_name     object
dtype: object

In [143]:
df.dtypes

first_name           object
last_name            object
Team                 object
Number                int64
Position             object
Age                   int64
Height               object
Weight                int64
College              object
Salary              float64
Lower_first_name     object
dtype: object

In [145]:
df = df.dropna()

In [147]:
df.isnull().sum()

first_name          0
last_name           0
Team                0
Number              0
Position            0
Age                 0
Height              0
Weight              0
College             0
Salary              0
Lower_first_name    0
dtype: int64

C:\Users\latai\AppData\Local\Temp\ipykernel_7688\843298480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Trim_Team'] = df['Team'].str.strip()

,first_name,last_name,Team,Number,Position,Age,Height,Weight,College,Salary,Lower_first_name,Trim_Team
0,Avery,Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0,avery,Boston Celtics
1,Jae,Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0,jae,Boston Celtics
3,R.J.,Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0,r.j.,Boston Celtics
6,Jordan,Mickey,Boston Celtics,55,PF,21,6-8,235,LSU,1170960.0,jordan,Boston Celtics
7,Kelly,Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0,kelly,Boston Celtics
...,...,...,...,...,...,...,...,...,...,...,...,...
449,Rodney,Hood,Utah Jazz,5,SG,23,6-8,206,Duke,1348440.0,rodney,Utah Jazz
451,Chris,Johnson,Utah Jazz,23,SF,26,6-6,206,Dayton,981348.0,chris,Utah Jazz
452,Trey,Lyles,Utah Jazz,41,PF,20,6-10,234,Kentucky,2239800.0,trey,Utah Jazz
453,Shelvin,Mack,Utah Jazz,8,PG,26,6-3,203,Butler,2433333.0,shelvin,Utah Jazz
456,Jeff,Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0,jeff,Utah Jazz